@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  /* overflow: hidden; */
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito";
}
#nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 10vh;
  padding: 10px 50px;
}

#navitems {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 20px;
}
#navitems a {
  text-decoration: none;
  color: #4154f1;
}
#banner1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#banner1txt h1 {
  font-size: 40px;
  text-decoration: none;
  color: #012970;
}
#banner1txt p {
  font-size: 30px;
  color: #444444;
}

#contactUSbtn {
  width: 180px;
  background-color: #4154f1;
  border-radius: 10px;
  padding: 20px 20px;
  border: none;
  color: white;
}
#banner2 {
  background-color: #f6f9ff;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
}
#banner2txt h3 {
  color: #4154f1;
}
#banner2txt h1 {
  color: #012970;
  padding: 10px;
  width: 50%;
}
#banner2txt {
  padding: 20px;
  width: 50%;
}
#banner2img {
  width: 50%;
}
#banner3 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

#banner3txt h3 {
  color: #4154f1;
}
#banner3txt h1 {
  color: #012970;
}
#banner3imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
#banner3imgs img {
  width: 150px;
}
#banner4 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner4txt h3 {
  color: #4154f1;
}
#banner4txt h1 {
  color: #012970;
}
#banner4txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #4154f1;
}
#cards {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
#card1 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card1img {
  background-color: #dbf3fe;
}

#card1:hover {
  background-color: #1eaff8;
}
#card1:hover #card1img {
  color: #1eaff8;
  background-color: #f2f5f7;
}
#card1 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card1img {
  background-color: #dbf3fe;
}

#card1:hover {
  background-color: #1eaff8;
}
#card1:hover #card1img {
  color: #1eaff8;
  background-color: #f2f5f7;
}

#card2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card2img {
  background-color: #dbf3fe;
}

#card2:hover {
  background-color: #1eaff8;
}
#card2:hover #card2img {
  color: #1eaff8;
  background-color: #f2f5f7;
}

#card3 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card3img {
  background-color: #dbf3fe;
}

#card3:hover {
  background-color: #1eaff8;
}
#card3:hover #card3img {
  color: #1eaff8;
  background-color: #f2f5f7;
}

#card4 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card4img {
  background-color: #dbf3fe;
}

#card4:hover {
  background-color: #1eaff8;
}
#card4:hover #card4img {
  color: #1eaff8;
  background-color: #f2f5f7;
}

#card5 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card5img {
  background-color: #dbf3fe;
}

#card5:hover {
  background-color: #1eaff8;
}
#card5:hover #card5img {
  color: #1eaff8;
  background-color: #f2f5f7;
}

#card6 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
#card6img {
  background-color: #dbf3fe;
}

#card6:hover {
  background-color: #1eaff8;
  #card6img{
    color: #1eaff8;
    background-color: #f2f5f7;
  }
}


#banner5 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#banner5txt h3 {
  color: #4154f1;
}
#banner5txt h1 {
  color: #012970;
}
