@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  /* overflow: hidden; */
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito";
}
#nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 10vh;
  padding: 10px 50px;
}

#navitems {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 20px;
}
#navitems a {
  text-decoration: none;
  color: #4154f1;
}
#banner1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#banner1txt h1 {
  font-size: 40px;
  text-decoration: none;
  color: #012970;
}
#banner1txt p {
  font-size: 30px;
  color: #444444;
}

#contactUSbtn {
  width: 180px;
  background-color: #4154f1;
  border-radius: 10px;
  padding: 20px 20px;
  border: none;
  color: white;
}
#banner2 {
  background-color: #f6f9ff;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
}
#banner2txt h3 {
  color: #4154f1;
}
#banner2txt h1 {
  color: #012970;
  padding: 10px;
  width: 50%;
}
#banner2txt {
  padding: 20px;
  width: 50%;
}
#banner2img {
  width: 50%;
}
#banner3 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

#banner3txt h3 {
  color: #4154f1;
}
#banner3txt h1 {
  color: #012970;
}
#banner3imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
#banner3imgs img {
  width: 150px;
}
#banner4 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner4txt h3 {
  color: #4154f1;
}
#banner4txt h1 {
  color: #012970;
}
#banner4txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #4154f1;
}
#cards {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
.cardimg {
  background-color: #dbf3fe;
  border-radius: 5px;
}

#card1:hover {
  background-color: #1de5ec;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}
#card2:hover {
  background-color: #fdbc08;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}
#card3:hover {
  background-color: #10fa10;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}
#card4:hover {
  background-color: #f72929;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}
#card5:hover {
  background-color: #b159b1;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}
#card6:hover {
  background-color: #f709c3;
  .cardimg {
    background-color: #fff;
    .cardtxt {
      color: #fff;
      background-color: #ffffff;
    }
  }
}

#section5 {
  text-align: center;
}
#section5 h3 {
  color: rgb(62, 133, 214);
}
#section5 h1 {
  color: rgb(43, 78, 117);
}
#banner5 {
  width: 100%;
  display: flex;
  gap: 2rem;
}
#banner5img {
  width: 50%;
}
#banner5keys {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.key {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 1px 1px 5px rgb(219, 218, 218);
  padding: 0 2rem;
  height: max-content;
  border-radius: 10px;
}
.sign {
  background-color: #f6f9ff;
  padding: 5px 10px;
}
.key:hover {
  .sign {
    background-color: #1a01fa;
    color: #ffffff;
  }
}
#banner6 {
  text-align: center;
}
#containerbn6 {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imgbn6 {
  width: 25%;
  border-radius: 10px;
}
.imgbn6 img {
  border-radius: 10px;
}
.imgbn6:hover {
}
